body {
    background-color: #FFFFF6;
    color: #011B4A;
    font-size: 110%;
    font-family: 'Raleway', sans-serif;
    margin: 0px 300px 0 300px;
    
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: 50px 20px 20px 20px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    margin: 0;
    line-height: 1.5;
}

.foto {
    width: 250px;
    float: left;
    border-radius: 20px;
    margin: 0px 30px 30px 30px;

}

.facebook,
.email {
    text-align: center;
    color: #011B4A;
    margin: 0;
    line-height: 2;
    font-weight: bold;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:link, 
a:visited {
    color: #011B4A;
}
